<script>
	import Nav from '../components/Nav.svelte';

	export let segment;
</script>

<style>
	main {
		position: relative;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>

<div id="wrap">
	<Nav {segment}/>

	<main>
		<slot></slot>
	</main>
</div>

<footer>
	<div>Data period: 4/8/2020 - {new Date().toLocaleDateString()}</div>
	<div>Copyright © 2021 <a href="https://softwarerero.com/">El Softwarerero</a></div>
</footer>
