<svelte:head>
	<title>Coronavirus: About</title>
</svelte:head>

<h1>Motivation</h1>

<p>This is just a thought experiment asking how long quarantine would be necessary if the idea of herd immunity is correct. We all hope this theory is wrong and we will get over this much quicker. You can contact us at <em>corona at softwarerero dot com</em>.</p>

<h1>Methodology</h1>
<p>The assumption is that 70% of the population needs to be infected to get back to normal life, btw. you can change the necessary infection rate and will see the effect directly. So from 70% of the population we subtract the already infected cases and divide this by the cases infected throughout the last day (yesterday). Assuming that the infection rate stays linear we get to the number of days left in quarantine. We just display this as years, months or weeks to increase readability .</p>
<p>Many countries have a non linear growth rate of infections for which our calculation leads to numbers that are too high, but other countries have a linear infection rate due to few cases and strict quarantine, a higher infection rate might be desireable as long as the health system is capable to absorb the cases.</p>

<h1>Data</h1>
<p>The data about COVID-19 cases are from <a href="https://corona.lmao.ninja/yesterday">NovelCovid/API </a>.</p>
<p>The country data are from <a href="https://worldpopulationreview.com/countries/">World Population Review</a>.</p>

<h1>Source Code</h1>
<p>The source code is split into two repositories. The <a href="https://gitlab.com/softwarerero/corona-read-stats">backend</a> requires you to have a local MongoDB instance running, the <a href="https://gitlab.com/softwarerero/corona-show-stats">Frontend</a> is a <a href="https://sapper.svelte.dev/">Sapper</a> App running statically on <a href="https://vercel.com/">Vercel</a>.</p>

<h1>Copyright</h1>
<p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

