<script>
    import Countries from '../components/Countries.svelte'

	let infectionPercentageNecessary = 70
</script>

<style>
	input {
		width: 5em;
	}
</style>

<svelte:head>
	<title>Coronavirus: How long do we need quarantine?</title>
</svelte:head>


<h1>Coronavirus: How long do we need to stay in quarantine?</h1>

<p>The idea of quarantine is not to saturate our health systems, so not everybody should go to the hospital at the same time. On the other hand if we have to wait for herd immunity, which means enough people will have had the virus, so that the desease can not really spread any more (this is under the assumption that former patients will be immune). So, quarantine will be necessary until one of the following is true:</p>
<ol>
	<li>We have a cure and/or a vaccine for SARS-COV-2.</li>
	<li>About <input type="number" min="0" max="100" bind:value={infectionPercentageNecessary}>% of the population will have had the virus.</li>
	<li>The virus disappears or mutates into some harmless form (the opposite could also happen).</li>
</ol>

<p>In this model we assume the bad case (2.) where we need to wait in quarantine until the corona virus has spread enough. How long would that actually be?</p>

<Countries {infectionPercentageNecessary}/>