<script>
    import { getCountries, getCountryNames } from '../lib/services/Country.js'
    import Select from 'svelte-select'

    export let infectionPercentageNecessary

    $: sortField = 'country'
    $: sortOrder = 'desc'
    $: documents = sortDocuments()
    let countryValues = getCountries(infectionPercentageNecessary)
    const allCountries = getCountryNames()
    let filterCountries = []

    $: {
        countryValues = getCountries(infectionPercentageNecessary)
        documents = sortDocuments()
    }

    const formatNumber = (n) => n ? parseInt(n, 10).toLocaleString() : '0'
    const daysToYears = (days) => {
        const threshold = 4
        if(days === NaN) return '∞'
        if(days === Infinity) return '∞'
        const years = (days / 365)
        if(years < threshold) {
            const months = days / 30
            if (months < threshold) {
                const weeks = days / 7
                if (weeks < threshold) {
                    return `${formatNumber(days)} days`
                }
                return `${formatNumber(weeks)} weeks`
            }
            return `${formatNumber(months)} months`
        }
        return `${formatNumber(years)} years`
    }

    const filterCountry = (event) => {
        if (!event.detail) return
        const countries = event.detail.map(d => d.value)
        filterCountries = countries
        documents = countryValues.filter(c => countries.includes(c.country))
    }

    const clearFilter = () => {
        documents = countryValues
        filterCountries = []
    }

    const sortFor = (event) => {
        const field = event.target.dataset.field
        if (sortField === field) {
            sortOrder = sortOrder === 'asc' ? 'desc' : 'asc'
        } else {
            sortField = field
            sortOrder = 'desc'
        }
        documents = sortDocuments()

        document.querySelectorAll('.sortField').forEach(f => {
            f.classList.remove('desc')
            f.classList.remove('asc')
        })
        event.target.classList.add(sortOrder)
    }

    const sortDocuments = () => {
        let docs = getCountries(infectionPercentageNecessary)
        if (filterCountries.length) {
            docs = docs.filter(c => filterCountries.includes(c.country))
        }
        const isStringSort = typeof docs[0][sortField] === 'string'
        const compareFn = (a, b) => isStringSort
            ? sortOrder === 'desc' ? a.localeCompare(b) : b.localeCompare(a)
            : sortOrder === 'desc' ? a - b : b - a
        return docs.sort((a, b) => compareFn(a[sortField], b[sortField]))
    }

</script>

{#if (process.browser) }
    <div class="header">
        <h2>Countries</h2>

        <div class="countryFilter">
            <label>Filter by country:</label>
            <Select items={allCountries} on:select={filterCountry} on:clear={clearFilter} isMulti={true}></Select>
        </div>
    </div>
{/if}

<table>
    <thead>
        <tr>
            <th id="id" class="asc"></th>
            <!-- <th class="sortField desc" data-field="country" on:click={() => sortFor('country')}>Name</th> -->
            <th class="sortField desc" data-field="country" on:click={sortFor}>Name</th>
            <th class="sortField" data-field="cases" on:click={sortFor}>Cases</th>
            <th class="sortField" data-field="todayCases" on:click={sortFor}>New cases yesterday</th>
            <!-- <th>Deaths</th>
            <th>Recovered</th>
            <th>Active</th>
            <th>Critical</th>
            <th>Cases per one million</th>
            <th>Deaths per one million</th>
            <th>Tests</th>
            <th>Tests per one million</th> -->
            <th class="sortField" data-field="population" on:click={sortFor}>Population</th>
            <!-- <th on:click={() => sortFor('uninfectedPopulation')}>Uninfected population</th> -->
            <th class="sortField" data-field="needToBeInfected" on:click={sortFor}>Need to be infected</th>
            <th class="sortField" data-field="timeNeeded" on:click={sortFor}>Time needed</th>
        </tr>
    </thead>
    <tbody>
        {#each documents as doc, i (doc.country)}
            <tr id={doc.country} data-name={doc.name}>
                <td id="id" class="asc"></td>
                <td>{doc.country}</td>
                <td>{formatNumber(doc.cases)}</td>
                <td>{formatNumber(doc.todayCases)}</td>
                <!-- <td>{formatNumber(doc.deaths)}</td>
                <td>{formatNumber(doc.recovered)}</td>
                <td>{formatNumber(doc.active)}</td>
                <td>{formatNumber(doc.critical)}</td>
                <td>{formatNumber(doc.casesPerOneMillion)}</td>
                <td>{formatNumber(doc.deathsPerOneMillion)}</td>
                <td>{formatNumber(doc.tests)}</td>
                <td>{formatNumber(doc.testsPerOneMillion)}</td> -->
                <!-- <td>{formatNumber(getPopulation(doc.country))}</td> -->
                <td>{formatNumber(doc.population)}</td>
                <!-- <td>{formatNumber(doc.uninfectedPopulation)}</td> -->
                <td>{formatNumber(doc.needToBeInfected)}</td>
                <td>{daysToYears(doc.timeNeeded)}</td>
            </tr>
        {/each}
    </tbody>
</table>


<style>
	table {
		text-align: right;
    }
    th, td {
        padding-left: 1em;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }
    .countryFilter {
        display: flex;
        margin-left: 3em;
        align-items: center;
    }
    label {
        margin-right: 1em;
    }
    th {
        white-space: nowrap;
    }
    th.desc:after {
        content: " ↓";
    }
    th.asc:after {
        content: " ↑";
    }
    #id { /* Need this so Svelte does not bother about unused th.asc selector */
        display: none;
    }
</style>